/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2018, 6:20:46 PM
    Author     : yncdb
*/

.top-header{
    height:45px;
    background-color:#0082c8;
    color:#FFF;
    width: 1065px;
    z-index: 10;
}

.topcontainer{
    display:block;
    padding-top:5px;
}

.container {
    width: 1065px;
    bottom:5px;
    background-color:#F8F8F8;
    margin: 0 auto;
    background-attachment:scroll;
}

.header {
    margin-bottom:-17px;
}

.menu{
    background-color: #0082c8;
    height:40px;
    width:100%;
    z-index:1;
    margin-bottom: -1px;
}

.menu ul li{
    display:table-cell;
    position:relative;
    list-style:none;
    margin-top:1px;
    padding-top:6px;
    padding-bottom:6px;
    color:#FFF;
    font-size:20px;
    text-align: center;
}

.content {
    padding-top:10px;
    height:100%; 
    z-index:1;
}

.footer{
    margin-top:1px;
    padding:8px;
}

.rtop{
    float:right;
    padding-top: 3px;
    padding-right: 15px;
}

.logo{
    width:240px;
    height:170px;
    margin-left:30px;
}

.menu a:link{
    color:#FFF;
    text-decoration:none;
}

.zone-1,
.zone-10,
.zone-11,
.zone-12,
.zone-2,
.zone-3,
.zone-4,
.zone-5,
.zone-6,
.zone-7,
.zone-8,
.zone-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
.zone-1,
.zone-10,
.zone-11,
.zone-12,
.zone-2,
.zone-3,
.zone-4,
.zone-5,
.zone-6,
.zone-7,
.zone-8,
.zone-9 {
    float: left
}
.zone-12 {
    width: 100%
}
.zone-11 {
    width: 91.66666667%
}
.zone-10 {
    width: 83.33333333%
}
.zone-9 {
    width: 75%
}
.zone-8 {
    width: 66.66666667%
}
.zone-7 {
    width: 58.33333333%
}
.zone-6 {
    width: 50%
}
.zone-5 {
    width: 41.66666667%
}
.zone-4 {
    width: 33.33333333%
}
.zone-3 {
    width: 25%
}
.zone-2 {
    width: 16.66666667%
}
.zone-1 {
    width: 8.33333333%
}

#topBtn {  
    display: none;
    background-image: url(../img/top-icon.png);
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 9;
    border: none;
    background-color: #0082c8;
    color: white;
    cursor: pointer;
    padding: 32px;
    border-radius: 5px;
    width: 30px;
}

#topBtn:hover {
    background-color: #555; 
}

.searchInfo{
    height:25px;
    width:200px;
    margin-top:8px;
    margin-left:20px;
    padding-left:5px;
    border:#000 1px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    float:left;
    left:30px;
    z-index:1;
}



.background{ 
    width:100%;
    z-index:2;
    background-attachment: fixed;
    background-color: #f8b24f;
}

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    color: #000;
}

.slogan{
    margin-bottom: 10px;
}

#gioi-thieu{
    background-color: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 8px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.gioi-thieu .tieu-de-thong-ke {
    font-size: 28px;
    text-align: center;
    line-height: 34px;
    margin: 40px auto;
    font-weight: 400;
    max-width: 560px;
}

.gioi-thieu .noi-dung-thong-ke {
    font-size: 16px;
    margin-top: 10px;
}

.div1{
    float: left;
    width: 25%;
}

.div2{
    float: left;
    width: 25%;
}

.div3{
    float: left;
    width: 25%;
}
.div4{
    float: left;
    width: 25%;
}

.gioi-thieu .bieu-tuong {
    font-size: 60px;
    line-height: 66px;
    letter-spacing: -.05em;
    white-space: nowrap;
}

.tieu-de-muc {
    color: #FD6504;
    font-size: 38px;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 30px 0px 14px 0px;
}

.btn{
    background-color: #f79f24;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnMore {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    background-color: #fd5d5fa6;
    width: 20%;

}

.btnMore:focus {
    color: #fff;
    background-color: #0082c8;
}
.btnMore:hover {
    color: #fff;
    background-color: #0082c8;
}